@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .delay-150 {
    animation-delay: 0.15s;
  }

  .delay-300 {
    animation-delay: 0.3s;
  }

  .h-sdl-sidebar {
    height: calc(100vh - 19rem);
  }

  * {
    transition-duration: 0.2s;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;

    &:hover {
      scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
  }
}
